* { box-sizing: border-box; }

body {
	background-color: #7f8c8d;
}

.page-container {
	position: relative;
	background-color: #ecf0f1;
	max-width: 640px;
	margin: 0 auto;
  height: 5000px;
}

.header {

}

.title-box {
	background-color: #2ecc71;
	position: relative;
  	height: 250px;
  	border-bottom: 6px solid #27ae60;
}

.title-box h1 {
	color: white;
	margin: 7px;
  	position: absolute;
  	bottom: 0;
}

.nav {

}

.nav ul {
	text-align: right;
  	background-color: #34495e;
 	margin: 0;
  	border-bottom: 6px solid #1F2C38;
}

.nav li {
	display: inline-block;
  	line-height: 2em;
  	text-align: center;
  	width: 100px;
}

.nav a {
	color: white;
  	text-decoration: none;
  	display: block;
  	transition: .3s background-color;
}

.nav a:hover {
	background-color: #1F2C38;
}

.blog-post {
	padding: 40px 25px;
}

.blog-post a {
	color: #d35400;
	text-decoration: none;
}

.indent {
	margin: 20px;
}

.divider {
	border-bottom: 1px solid #888;
	padding: 8px;
}

.blog-table {
	margin: 20px 0;
}

.blog-table tr {

}

.blog-table th {
	background-color: #95a5a6;
  	border: 1.5px solid #888;
  	padding: 5px;
}

.blog-table td {
	border: 1.5px solid #888;
	padding: 7px;
}

.table-button {
	background-color: #3498db;
	border-radius: 4px;
  	padding: .3em 1em;
}

a.table-button {
  	color: white;
  	font-size: small;
  	font-weight: lighter;
}

:hover.table-button {
	background-color: #266894;
  	transition: .3s background-color;
}

.codeblock {
    background-color: #95a5a6;
    padding: 20px 55px 10px;
    overflow: auto;
}

.sidebar {
	background-color: white;
    width: 220px;
    position: absolute;
    top: 287px;
    left: 635px;
    margin: 0 10px;
    border-bottom: 3px solid #1F2C38;
}

.sidebar-nav {
	list-style: none;
    padding: 12px 12px 0;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.sidebar-nav h4 {
	margin-bottom: 10px;
}

.sidebar-nav ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
}

.sidebar-nav lh {

}

.sidebar-nav li {
	/*font-size: smaller;
    color: #444;*/
    padding: 0 0 8px;
}

.sidebar-nav a {
	font-size: smaller;
    color: #444;
    text-decoration: none;
    transition: .2s font-size;
}

.sidebar-nav a:hover {
	font-size: medium;
    color: #444;
    text-decoration: none;
}